/common/bin
/common/testsuite/bin
/tdbadmin/bin
/tdbadmin/tdb/bin
/tdbadmin/tdbadmin/bin/
/tdbadmin/tdbadmin/bin/
/tdbadmin/testsuite/bin/
/tdbadmin/tdbds/bin/
/tdbadmin/tdbgui/bin/
*.pidb
*.userprefs
*.resources
version.h
*~
