[Desktop Entry]
Version=1.0
Name=Eclipse CPP
GenericName=Eclipse
X-GNOME-FullName=Eclipse CPP IDE
Comment=Eclipse CPP
Type=Application
Categories=Application;Development;CPP;IDE;Programming
Exec=env UBUNTU_MENUPROXY= /work/eclipse/eclipse-cpp/eclipse
TryExec=/work/eclipse/eclipse-cpp/eclipse
Terminal=false
StartupNotify=true
Icon=/work/eclipse/eclipse-cpp/icon.xpm
