{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
	<div class="container">

	<div class="row">
	<div class="col-sm-12">
		<h3>Mini Date - Selbstbedienung</h3>
		<p>Do sehsch alli Date zu {{ user.email }}: (Di Super-Admin Status: {{ myself.admin }})</p>
			<form action="/admin/user/{{ user.key().id() }}" class="form-horizontal" role="form" method="post">
				<div class="form-group">
					<div class="row">
					<label for="idname" class="col-sm-2 control-label">Name / email</label>
					<div class="col-sm-5">
						{% if myself.admin %}
							<input type="text" class="form-control" name="fname" id="idname" value="{{ user.name }}">
						{% else %}
							<input type="text" class="form-control" name="fname" id="idname" readonly="readonly" value="{{ user.name }}">
						{% endif %}
					</div>
					<div class="col-sm-5">
						{% if myself.admin %}
							<input type="text" class="form-control" name="femail" id="idemail" value="{{ user.email }}">
						{% else %}
							<input type="text" class="form-control" name="femail" id="idemail" readonly="readonly" disabled value="{{ user.email }}">
						{% endif %}
					</div>
					</div>
			  </div>

				<div class="form-group">
					<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
					<label class="checkbox-inline">
						{% if user.active %}
							<input type="checkbox" class="checkbox form-control" name="factive" id="idactive" value="True" checked>
						{% else %}
							<input type="checkbox" class="checkbox form-control" name="factive" id="idactive" value="False">
						{% endif %}
						Aktiv?
					</label>

					<label class="checkbox-inline">
						{% if user.admin %}
							<input type="checkbox" class="checkbox form-control" name="fadmin" id="idadmin" value="True" checked>
						{% else %}
							<input type="checkbox" class="checkbox form-control" name="fadmin" id="idadmin" value="False">
						{% endif %}
						Super Admin?
					</label>

					<label class="checkbox-inline">
						{% if user.linked %}
							<input type="checkbox" class="checkbox form-control" name="flinked" id="idlinked" value="True" checked>
						{% else %}
							<input type="checkbox" class="checkbox form-control" name="flinked" id="idlinked" value="False">
						{% endif %}
						Memberlink?
					</label>
					</div>

					</div>
			  </div>

				<div class="form-group">
					<div class="row">
					<label for="idprov" class="col-sm-2 control-label">Loginprovider</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="fprov" id="idprov" readonly="readonly" value="{{ user.provider }}">
					</div>
					</div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">Speichere</button>
			    </div>
			  </div>
			</form>
	</div>
	</div>


{% endblock content %}
