{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
	<div class="container">

	<div class="row">
	<div class="col-sm-12">
	   <h3>Export</h3>
	   <p>Export von:</p>
		<table class="table table-condensed">
			<tbody>
				<tr>
				<td>Export Members</td>
			   <td><a href="/member/export" class="btn btn-info btn-xs">Excel Export</a></td>
				<td>Export Users</td>
			   <td><a href="/admin/exportuser" class="btn btn-info btn-xs">Excel Export</a></td>
				<td>Export Posts PDF</td>
			   <td><a href="/zeedel/export" class="btn btn-info btn-xs">PDF Export</a></td>
				<td>Export Posts XLS</td>
			   <td><a href="/admin/exportpost" class="btn btn-info btn-xs">Excel Export</a></td>
				<td>Export Impressione/Fasnacht XLS</td>
			   <td><a href="/admin/exportimp" class="btn btn-info btn-xs">Excel Export</a></td>
				</tr>
			</tbody>
	   </table>
	</div>
	</div>

{% endblock content %}
