{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-sm-12">
		links: [<a href="/admin/user">users</a>] [<a href="/admin/member">members</a>] [<a href="/admin/imp">impressione</a>]
		</div>
	</div>

	<div class="row">
	<div class="col-sm-12">
	   <h3>Mälidge</h3>
	   <p>Lischte vo alle Mäldige:</p>
		<table class="table table-condensed">
			<thead><tr>
		    	<th>Typ</th> <th style="width:100px">Text</th> <th>Vo</th> <th>Datum</th> <th>Aktiv</th> <th>Scope</th> <th>Aktione</th>
			</tr></thead>
			<tbody>
				{% for p in posts %}
				<tr>
					{% if p.type == 1 %}
						<td>Väärsli</td>
					{% elif p.type == 2 %}
						<td>Kommentar</td>
					{% else %}
						<td>Määldig</td>
					{% endif %}
					<td data-toggle="modal" data-id="{{ p.key().id() }}" data-text="{{ p.post }}" data-target="#updpostmodal" class="tdbtn">{{ p.post }}</td>
					<td>{{ p.postfromname }}</td> <td>{{ p.date|dform }}</td>  <td>{{ p.active }}</td>  <td>{{ p.scope }}</td>
					<td>
					<a href="/admin/delpost/{{ p.key().id() }}" class="btn btn-danger btn-xs">Delete</a>
					<a href="/admin/togglepost/{{ p.key().id() }}" class="btn btn-danger btn-xs">ToggleActive</a>
					<a href="/admin/togglepostscope/{{ p.key().id() }}" class="btn btn-danger btn-xs">Pub/Int mache</a></td>
				</tr>
				{% endfor %}
			</tbody>
	   </table>
	</div>
	</div>

<!-- modal create new comment -->
<div class="modal fade" id="updpostmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"	aria-hidden="true">&times;</button>
			<h4 class="modal-title">Väärsli</h4>
		</div>
		<div class="modal-body">
			<form action="/admin/postupd" class="form-horizontal" role="form" method="post">
			<input type="hidden" name="fpostid" id="idpostid" value="" />
	  		<div class="form-group">
		    	<label for="idpost" class="col-sm-2 control-label">Die Väärsli</label>
				<div class="col-sm-10">
				<textarea class="form-control" name="fpost" id="idpost" rows="3"></textarea>
				</div>
			</div>
			<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Aendere</button>
		    	</div>
	  		</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
		</div>
	</div>
	</div>
</div>
<!-- /.modal -->

{% endblock content %}

{% block addon %}
{{ super() }}
<script>
//if (window.console) console.log('start modal script');
$('.tdbtn').on('click', function(e) {
	//if (window.console) console.log('got click event');
	var txt = $(e.target).data('text');
	var pid = $(e.target).data('id');
	$("#idpostid").val(pid);
	$("#idpost").val(txt);
	//if (window.console) console.log('got data txt: ' + txt);
	//if (window.console) console.log('got data id: ' + pid);
});
</script>
{% endblock addon %}
