{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
	<h3>Fehler aufgetreten</h3>
	<p>
	Ein Fehler ist aufgetreten, da ist was nicht abgefangen oder eine Eingabe war falsch.
	</p>
	<p>
	Bitte prüfe nochmals Deine Eingabe ob alles korrekt ist ansonsten bitte melden was Du grad vorher gemacht hast! Du weisst ja bei wem :-)
	</p>
	<div class="well">
		<h3>Error message</h3>
		<p>{{ errormsg }}</p>
		<p>{{ url }}</p>
	</div>
</div>
</div><!--container-->
{% endblock content %}
