{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
<div class="container">

<div class="row">
<div class="col-sm-12">
	<h4>Impressione</h4>
	
	<div class="panel-group" id="imp">
		{% for imp in imps %}
	  <div class="panel panel-success">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#imp" href="#imp{{imp.key().id()}}">
	          Vom: {{ imp.fromname }} am: {{ imp.date|dtform }}
	        </a>
	      </h4>
	    </div>
	    <div id="imp{{imp.key().id()}}" class="panel-collapse collapse">
	      <div class="panel-body">
			<div class="row">
			<div class="col-sm-6">
				<a href="{{ imp.picturl2 }}" target="_blank"><img src="{{ imp.picturl }}" style="img.original { image-orientation: auto };" /></a>
			</div>
			<div class="col-sm-6">
				{{ imp.post }}
			</div>
			</div>
	      </div>
	    </div>
	  </div>
		{% endfor %}
	</div>

</div>
</div>

</div>
{% endblock content %}
