{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
<div class="container">

<div class="row">
<div class="col-sm-12">
	<h3>Hilfe / Handbuch</h3>
	<H4>Generell/Aamälde</H4>
	<p>Dä Dienscht stoht nur mit CODE oder iber e bestehende "Account" bi Google, Facebook, ... (OpenID) zur verfiegig!
	</p>
	<H4>Funktione</H4>
	<p>Folgendi Funktione stön zur verfiegig:
	</p>
	<table class="table table-condensed">
		<thead><tr>
			<th>Funktion</th> <th>Ohni Aamäldig</th> <th>Ohni Aamäldig mit CODE</th>  <th>Mit Aamäldig</th> <th>Nur mit Aamäldig und CODE</th> <th>Als Administrator</th>
		</tr></thead>
		<tbody>
			<tr><td>Start syte</td>
				<td>Me seht e paar Väärsli und ka sich aamälde</td>
				<td>Alles wie ohni Aamäldig</td>
				<td>Me seht interni Mäldige</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Alles wie mit Aamäldig</td></tr>
			<tr><td>Zeedel aluege</td>
				<td>Me seht alli Väärsli</td>
				<td>Alles wie ohni Aamäldig</td>
				<td>Alles wie ohni Aamäldig, zusätzlich aber no intärni Mäldige und Möglichkeit neui Väärsli schriebe</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Alles wie mit Aamäldig</td></tr>
			<tr><td>Gfangeni</td>
				<td>Me seht alli Gfangeni mit Pseudonym, Bild und Text, wenn me uf ein durfklickt chunt e PDF mit sim Steckbrief</td>
				<td>Alles wie ohni Aamäldig</td>
				<td>Alles wie ohni Aamäldig, zusätzlich aber no dr richtig Name und dr Möglichkeit bi sich sälber dr Text z ändere (muess vorhär vom Admin ermöglicht wärde - per mail mälde!). Wenn me verknüpft isch mit eme Gfangene seht me näbe em Name [Aendere]</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Alles wie mit Aamäldig</td></tr>
			<tr><td>Gfangene mit CODE</td>
				<td>Goht nid resp. me griegt e Fehlermäldig</td>
				<td>Me seht si eigeni Syte und ka sini Gfangene Date ändere, e Bild hochlade, GPS frey geh und e neus Väärsli oder Kommentar schrybe</td>
				<td>Goht nid (resp. griegt e Fehlermäldig wenn me öbis falsch y git)</td>
				<td>Alles wie ohni Aamäldig mit CODE</td>
				<td>Alles wie ohni Aamäldig mit CODE</td></tr>
			<tr><td>Sueche</td>
				<td>Me cha nach Text in de Väärsli sueche</td>
				<td>Alles wie ohni Aamäldig</td>
				<td>Alles wie ohni Aamäldig, zusätzlich sueche in intärni Mäldige und Kommentär</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Alles wie mit Aamäldig</td></tr>
			<tr><td>Aa/Abmälde</td>
				<td>Me ka sich aamälde</td>
				<td>Alles wie ohni Aamäldig</td>
				<td>Me ka sich abmälde.</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Alles wie mit Aamäldig</td></tr>
			<tr><td>Administration</td>
				<td>goht nid</td>
				<td>goht nid</td>
				<td>Me cha nur si eigene USER Ytrag seh und au grad ändere (goht au wenn me obe in dr Navigation uf si e-mail klickt)</td>
				<td>Alles wie mit Aamäldig</td>
				<td>Me cha alles mache</td></tr>
		</tbody>
   </table>

	<h5>Zusätzlichi Informatione</h5>
	<ul>
	<li>Bilder könne als JPEG, PNG hochglade wärde (anderi Format göhn, könne aber au e Fehler uslöse)</li>
	<li>GPS muess im Browser erlaubt wärde, es chunt neume e Mäldig, öb Du d GPS Date freygeh willsch oder nid (je nach Browser neume andersch)</li>
	<li>Das ganze lauft au uf dim iPad, iPhone oder Android, das isch aber denn nid d App, d App isch öbis wo Du muesch uf dim Handy installiere (nur IOS/Android)</li>
	</ul>

	<H4>iPhone / Android APP</H4>
	<p>Me ka kei Aamäldig mache wie bim "Browser", nur mit em CODE schaffe! 
	Folgendi Funktione stön zur verfiegig:
	</p>
	<table class="table table-condensed">
		<thead><tr>
			<th>Funktion</th> <th>Ohni Aamäldig</th> <th>mit CODE</th>
		</tr></thead>
		<tbody>
			<tr><td>Start syte</td>
				<td>Me seht e paar Väärsli und ka sich aamälde</td>
				<td>Alles wie ohni Aamäldig</td></tr>
			<tr><td>Zeedel aluege</td>
				<td>Me seht alli Väärsli</td>
				<td>Alles wie ohni Aamäldig</td></tr>
			<tr><td>Gfangeni</td>
				<td>Me seht alli Gfangeni mit Pseudonym, Bild und Text, wenn me uf ein durfklickt chunt e PDF mit sim Steckbrief</td>
				<td>Alles wie ohni Aamäldig</td></tr>
			<tr><td>Gfangene mit CODE</td>
				<td>Goht nid resp. me griegt e Fehlermäldig</td>
				<td>Me seht si eigeni Syte und ka sini Gfangene Date ändere, e Bild hochlade, GPS frey geh und e neus Väärsli oder Kommentar schrybe</td></tr>
			<tr><td>Aa/abmälde</td>
				<td>Me muess sich aamälde resp. dr CODE ygeh</td>
				<td>Me ka sich abmälde</td></tr>
		</tbody>
   </table>
   <br />
   <hr />
	<p>Dä Dienscht und d App drzu sin vom Martin Weber Nisslé erstellt worde und dr "Source Code" wird nach dr Fasnacht über github.com frey geeh unter dr Apache Lizenz V2.</p>
	<p>Wyteri Hilf krieget ihr iber dr Martin direkt - mach eifach e e-mail.</p>
	<h3>Versione</h3>
	<div class="panel-group" id="accordion">
	
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
	        	Version 2.0
	        	</a>
	      </h4>
	    </div>
	    <div id="collapse20" class="panel-collapse collapse">
	      <div class="panel-body">
				<ul>
				<li>App im Apple App Store und Google Play als "MCB"</li>
				<li>App bekannts Problem mit GPS bi Samsung Androids</li>
				<li>App Android muess grösser als 4.1 si</li>
				<li>App Download Icons vo Apple und Google</li>
				</ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
	        	Version 1.9
	        	</a>
	      </h4>
	    </div>
	    <div id="collapse19" class="panel-collapse collapse">
	      <div class="panel-body">
				<ul>
				<li>App Google Maps funktioniert jetzt ähnlich wie mit eme Brauwser</li>
				<li>Baizeplan isch jetzt do</li>
				<li>Väärsli wärde nur als "intärni" Väärsli azeigt (nur mit CODE/Login)</li>
				<li>App het jetzt mehr Mäldige (öb de warte muesch oder bi me Fehler)</li>
				<li>Neu ka me au d Gfangenelischte als XLS abelaade und seht wär wär isch und het au grad d Handy und e-mail (wird spöter in dr App au zur verfiegig stooh)</li>
				<li>App Android isch jetzt im Google Play verfiegbar und bi Apple isch es übermittelt (die hän e leengeri leitig)</li>
				</ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
	        	Version 1.8
	        	</a>
	      </h4>
	    </div>
	    <div id="collapse18" class="panel-collapse collapse">
	      <div class="panel-body">
				<ul>
				<li>Gfangene Site mit Rubriken Vortrab, Pfyffer, Tamboure</li>
				<li>App service impressione</li>
				<li>App service mit CODE neui impression generiere</li>
				<li>App service mit CODE GPS übermittle neu gschtaltet und im Background übermittle</li>
				<li>App service 2. BETA mit iOS - Tester Flo und Summ</li>
				</ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
	        	Version 1.7
	        	</a>
	      </h4>
	    </div>
	    <div id="collapse17" class="panel-collapse collapse">
	      <div class="panel-body">
				<ul>
				<li>Gfangene Site mit PDF aasicht</li>
				<li>Fasnachts Site mit Routeplan und Impressione - Impressione mit Bilder und Text (max 5GB sin gratis)</li>
				<li>Mit CODE neui Impression aaleege</li>
				<li>User info Site überarbeitet, wenn de e login hesch und mit eme Gfangene verknüpft bisch, sehsch e Menu zur Uswahl</li>
				<li>App service impressione</li>
				<li>App service BETA mit iOS - Tester Flo</li>
				</ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      	<a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
	        	Version 1.6
	        	</a>
	      </h4>
	    </div>
	    <div id="collapse16" class="panel-collapse collapse">
	      <div class="panel-body">
				<ul>
				<li>Gfangene als PDF (no kai richtigi Farb, aber schon emol s layout)</li>
				<li>Alli Gfangeni als PDF</li>
				<li>QR code generierig für alli wo no kain hän (nur als admin)</li>
				<li>App service gfangeni - e lischte mit alle gfangene ohni bild fürs app</li>
				<li>App service gfangene mit CODE - alli gfangene mit tel und email und richtigem Name</li>
				<li>App service GPS Date sände nur mit CODE für dä jewyyligi CODE</li>
				<li>App service neus Väärsli schryybe</li>
				</ul>
	      </div>
	    </div>
	  </div>
	</div>   
</div>
</div>

</div>
{% endblock content %}

