<script>
var x=document.getElementById("getgps");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude +
  "<br><a href=\"http://maps.google.com/maps?z=12&t=m&q=loc:" + position.coords.latitude + "+" + position.coords.longitude + "\">Google Maps</a>";
  $.post( "/gps", { fmemid : {{ member.key().id() }}, flat : position.coords.latitude, flon: position.coords.longitude } );
  }
</script>
