{% extends "base.html" %}
	{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}

{% block content %}
<div class="container">

	{% if member != None %} <br />
	<div class="row">
		<div class="col-sm-4">
			<h3>Gfangene {{ member.pseudonym }}</h3>
		</div>
		<div class="col-sm-4">
			<img src="/pict?memid={{member.key().id()}}">
		</div>
		<div class="col-sm-4">
			<img style="background: white" src="/qrcode?memid={{member.key().id()}}">
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12">

			{% if member != None %} <br />

			<!-- start of accordion -->
			<div class="panel-group" id="gfangene">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a data-toggle="collapse" data-parent="#gfangene"
								href="#gfangeneDet"> Aendere dini Date als {{
								member.pseudonym }}: (Di Super-Admin Status: {{ myself.admin }}) [do druff drugge zum Aendere!]
							</a>
						</h3>
					</div>
					<div id="gfangeneDet" class="panel-collapse collapse">
						<div class="panel-body">

							<form action="/member/{{ member.key().id() }}"
								class="form-horizontal" role="form" method="post">
								<div class="form-group">
									<div class="row">
										<label for="idname" class="col-sm-2 control-label">Vor-
											/ Nochname</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="fprename"
												id="idname" value="{{ member.prename }}">
										</div>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="fname"
												id="idname" value="{{ member.name }}">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<label for="idemail" class="col-sm-2 control-label">Handy
											/ e-mail</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="fmobil"
												id="idmobil" value="{{ member.mobil }}">
										</div>
										<div class="col-sm-5">
											{% if myself.admin %} <input type="text" class="form-control"
												name="femail" id="idemail" value="{{ member.email }}">
											{% else %} <input type="text" class="form-control"
												name="femail" id="idemail" readonly="readonly"
												value="{{ member.email }}"> {% endif %}
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<label for="idpseudo" class="col-sm-2 control-label">Pseudonym</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="fpseudo"
												id="idpseudo" value="{{ member.pseudonym }}">
										</div>
									</div>

									<div class="row">
										<label for="idstrof" class="col-sm-2 control-label">Strof</label>
										<div class="col-sm-10">
											<textarea class="form-control" name="fstrof" id="idstrof"
												rows="1">{{ member.strof }}</textarea>
										</div>
									</div>

									<div class="row">
										<label for="idsteck" class="col-sm-2 control-label">Steckbrief</label>
										<div class="col-sm-10">
											<textarea class="form-control" name="fsteck" id="idsteck"
												rows="3">{{ member.steckbrief }}</textarea>
										</div>
									</div>

									<div class="row">
										<label for="idcmt" class="col-sm-2 control-label">Kommentar</label>
										<div class="col-sm-10">
											<textarea class="form-control" name="fcmt" id="idcmt"
												rows="3">{{ member.cmt }}</textarea>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<label for="idtype" class="col-sm-2 control-label">Ufgob</label>
										<div class="col-sm-4">
											<select class="form-control" name="ftype" id="idtype">
												{% for t in typen %} {% if member.type == t %}
												<option value="{{ t }}" selected="selected">{{ t }}</option>
												{% else %}
												<option value="{{ t }}">{{ t }}</option> {% endif %} {%
												endfor %}
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<label for="idcode" class="col-sm-2 control-label">Code
											/ Grössi</label>
										<div class="col-sm-5">
											{% if myself.admin %} <input type="text" class="form-control"
												name="fcode" id="idcode" value="{{ member.code }}">
											{% else %} <input type="text" class="form-control"
												name="fcode" id="idcode" disabled readonly="readonly"
												value="{{ member.code }}"> {% endif %}
										</div>
										<div class="col-sm-5">
											{% if myself.admin %} <input type="text" class="form-control"
												name="fsize" id="idsize" value="{{ member.size }}">
											{% else %} <input type="text" class="form-control"
												name="fsize" id="idsize" disabled readonly="readonly"
												value="{{ member.size }}"> {% endif %}
										</div>
									</div>
								</div>

								{% if member.gpsdate != None %}
								<div class="form-group">
									<div class="row">
										<label for="idcode" class="col-sm-2 control-label">GPS
											Date:</label>
										<div class="col-sm-10">Lat: {{ member.lat }} Lon: {{
											member.lon }} Datum: {{ member.gpsdate|dtform }}</div>
									</div>
								</div>
								{% endif %}

								<div class="form-group">
									<div class="row">
										<label for="iduser" class="col-sm-2 control-label">Login</label>
										<div class="col-sm-10">
											{% if myself.admin %} <select class="form-control"
												name="fuser" id="iduser">
												<option value="None">Kein user</option> {% for u in users %}
												{% if member.user.name == u.name %}
												<option value="{{ u.key().id() }}" selected="selected">{{
													u.name}} {{u.email}}</option> {% else %}
												<option value="{{ u.key().id() }}">{{ u.name}}
													{{u.email}}</option> {% endif %} {% endfor %}
											</select> {% else %} <input type="text" class="form-control"
												name="fuser" id="iduser" readonly="readonly"
												value="{{ member.user.name }}"> {% endif %}
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
											<label class="checkbox-inline"> {% if
												member.sujetflag == 1 %} <input type="checkbox"
												class="checkbox form-control" name="fsujetflag"
												id="idsujetflag" value="1" checked> {% else %} <input
												type="checkbox" class="checkbox form-control"
												name="fsujetflag" id="idsujetflag" value="2"> {%
												endif %} Teilnahm?
											</label> <label class="checkbox-inline"> {% if member.active
												== True %} <input type="checkbox"
												class="checkbox form-control" name="factive" id="idactive"
												value="True" checked> {% else %} <input
												type="checkbox" class="checkbox form-control" name="factive"
												id="idactive" value="False"> {% endif %} Aktiv?
											</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">Speichere</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<!-- end of accordion -->

			<br />

			<div class="well">
				<div id="getgps">
					<button class="btn btn-primary" title="share your location"
						onclick="getLocation()">Teil mini Position &raquo;</button>
				</div>
				<a href="/gc/{{ member.code }}" class="btn btn-primary"
					role="button" title="show details">Dini Gfangene Syte (die mit
					CODE) &raquo;</a>
				<a href="/gps" class="btn btn-primary" role="button"
					title="show GPS positions">Wär isch wo &raquo;</a>
				<a href="/zeedel" class="btn btn-primary" role="button">Fieg
					die Väärsli drzue &raquo;</a>
				<a href="/fc/{{ member.code }}"
					class="btn btn-primary btn-default commentlink" role="button"
					title="add new impression">Neii Impression &raquo;</a>
				<a href="/gcxls/{{ member.code }}" class="btn btn-primary btn-default" role="button" title="export">Lad d Gfangenelischte abe &raquo;</a></td>
			</div>
			<div class="well">
				Di Gfangenebild hochladen:
				<form enctype="multipart/form-data" method="post" action="/pict">
					<span class="btn btn-default btn-file"> <input type="file"
						name="image" />
					</span> <input type="hidden" name="memid" value="{{ member.key().id() }}" />
					<button type="submit" class="btn btn-default">Hochlade</button>
				</form>
			</div>
			{% else %}
			<p>Du bisch nid aagmäldet oder Dir ghört die ID nid</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}

{% block addon %}
{{ super() }}
{% include "member-gpsjs.html" ignore missing %}
{% endblock addon %}
