{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-sm-12">
		links: [<a href="/admin/user">users</a>] [<a href="/admin/post">väärsli</a>] [<a href="/admin/imp">impressione</a>]
		</div>
	</div>

	<div class="row">
	<div class="col-sm-12">
{% if myself != None %}
	   <h3>Benutzer</h3>
	   <p>Liste aller Benutzer:</p>
		{% if myself.admin %}
	   <a href="#createmember" data-toggle="modal" class="btn btn-primary btn-large" role="button" title="create new member">Erfass e neue Gfangene &raquo;</a>
		{% endif %}
		<table class="table table-condensed">
			<thead><tr>
		    	<th>Name</th> <th>Pseudonym</th> <th>Sujetflag</th> <th>Typ</th> <th>Code</th> <th>Linked</th> <th>Grössi</th> <th>Aktione</th>
			</tr></thead>
			<tbody>
				{% for m in members %}
				<tr>
				<td><a href="/member/{{ m.key().id() }}">{{ m.name }}</a></td> <td>{{ m.pseudonym }}</td> <td>{{ m.sujetflag }}</td> <td>{{ m.type }}</td> <td><a href="/gc/{{ m.code }}">{{ m.code }}</a></td>  <td>{{ m.user.name }}</td>  <td>{{ m.size }}</td> 
				<td><a href="/admin/delmem/{{ m.key().id() }}" class="btn btn-danger btn-xs">Delete</a></td> 
				</tr>
				{% endfor %}
			</tbody>
	   </table>
	   <a href="/member/export" class="btn btn-info btn-xs">Excel Export</a>
{% else %}
		<p>Du bisch nid aagmäldet und dorum sehsch au nüt! Wenn de öbis seh wilsch muesch di vorhär aamälde</p>
{% endif %}
	</div>
	</div>

<!-- create club modal -->
	<div class="modal fade" id="createmember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"	aria-hidden="true">&times;</button>
			<h4 class="modal-title">Neue Member</h4>
		</div>

		<div class="modal-body">
		<form action="/admin/member" class="form-horizontal" role="form" method="post">
				<div class="form-group">
					<div class="row">
					<label for="idname" class="col-sm-2 control-label">Vor- / Nochname</label>
			   	<div class="col-sm-5">
			      	<input type="text" class="form-control" name="fprename" id="idname">
					</div>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="fname" id="idname">
					</div>
					</div>
				</div>
			    
				<div class="form-group">
					<div class="row">
					<label for="idemail" class="col-sm-2 control-label">Handy / e-mail</label>
					<div class="col-sm-5">
					  <input type="text" class="form-control" name="fmobil" id="idmobil">
					</div>
					<div class="col-sm-5">
						  <input type="text" class="form-control" name="femail" id="idemail">
					</div>
					</div>
			  </div>

				<div class="form-group">
					<div class="row">
					<label for="idpseudo" class="col-sm-2 control-label">Pseudonym</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="fpseudo" id="idpseudo">
					</div>
					</div>
			    
					<div class="row">
					<label for="idstrof" class="col-sm-2 control-label">Strof</label>
					<div class="col-sm-10">
					  <textarea class="form-control" name="fstrof" id="idstrof" rows="1"></textarea>
					</div>
					</div>
			    
					<div class="row">
					<label for="idsteck" class="col-sm-2 control-label">Steckbrief</label>
					<div class="col-sm-10">
					  <textarea class="form-control" name="fsteck" id="idsteck" rows="3"></textarea>
					</div>
					</div>
			    
					<div class="row">
					<label for="idcmt" class="col-sm-2 control-label">Kommentar</label>
					<div class="col-sm-10">
					  <textarea class="form-control" name="fcmt" id="idcmt" rows="3"></textarea>
					</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
					<label for="idtype" class="col-sm-2 control-label">Ufgob</label>
					<div class="col-sm-4">
						<select class="form-control" name="ftype" id="idtype">
						{% for t in typen %}
							<option value="{{ t }}">{{ t }}</option>
						{% endfor %}
						</select>
					</div>
					</div>
			  </div>

				<div class="form-group">
					<div class="row">
					<label for="idcode" class="col-sm-2 control-label">Grössi</label>
					<div class="col-sm-5">
						  <input type="text" class="form-control" name="fsize" id="idsize">
					</div>
					</div>
			  </div>

				<div class="form-group">
					<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-10">
					<label class="checkbox-inline">
						<input type="checkbox" class="checkbox form-control" name="fsujetflag" id="idsujetflag" value="1" checked>
						Teilnahm?
					</label>
					<label class="checkbox-inline">
							<input type="checkbox" class="checkbox form-control" name="factive" id="idactive" value="True" checked>
						Aktiv?
					</label>
				  </div>
				  </div>
			  </div>
		      
			<div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-default">Abschigge</button>
			  </div>
			</div>
		</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
		</div>
		</div>
		</div>
	</div>
<!-- /.modal -->

{% endblock content %}
