{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
<div class="container">
<div class="row">
	<div class="col-sm-6">
		<form class="form-inline" role="search">
			<div class="form-group">
				<input type="text" class="form-control" id="searchtxt" placeholder="Suechtext">
			</div>
			<button type="button" id="searchbtn" class="btn btn-default">Sueche</button>
		</form>
	</div>

	<div class="col-sm-6">
		<div id="searchresult">
		Suechergäbniss
		</div>
	</div>
</div>
</div>
{% if error != None %}
<p>
{{ error }}
</p>
{% endif %}

{% endblock content %}

{% block addon %}
{{ super() }}
<script>
$(document).ready(function(){
    
	function search(){
   	var searchval=$("#searchtxt").val();
      if(searchval !=""){
      	$.ajax({
         	type:"post",
            url:"/search",
            data:"fsearchtxt="+searchval,
            success:function(data){
            	$("#searchresult").html(data);
               $("#searchtxt").val("");
            }
         });
      }
	}

   $("#searchbtn").click(function(){
   	search();
   });

   $('form').on('submit', function(e) {
	   e.preventDefault();
	   //search();
   });
	   
   $("#searchtxt").keyup(function(e) {
   	if(e.which == 13) { // return key
      	search();
      }
   });
});
</script>
{% endblock addon %}
