{% extends "base.html" %}
{% if myself == None %}
	{% set active_user = '' %}
	{% set active_uid = '' %}
{% else %}
	{% set active_user = myself.email %}
	{% set active_uid = myself.key().id() %}
{% endif %}
{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-sm-12">
		links: [<a href="/admin/member">members</a>] [<a href="/admin/post">väärsli</a>] [<a href="/admin/imp">impressione</a>]
		</div>
	</div>

	<div class="row">
	<div class="col-sm-12">
	   <h3>Benutzer</h3>
	   <p>Liste aller Login User:</p>
		<table class="table table-condensed">
			<thead><tr>
		    	<th>Name</th> <th>email</th> <th>Aktiv</th> <th>Linked</th> <th>Provider</th> <th>Aktione</th>
			</tr></thead>
			<tbody>
				{% for u in users %}
				<tr>
				<td><a href="/admin/user/{{ u.key().id() }}">{{ u.name }}</a></td> <td>{{ u.email }}</td> <td>{{ u.active }}</td> <td>{{ u.linked }}</td> <td>{{ u.provider }}</td>
				<td><a href="/admin/deluser/{{ u.key().id() }}" class="btn btn-danger btn-xs">Delete</a></td> 
				</tr>
				{% endfor %}
			</tbody>
	   </table>
	</div>
	</div>

{% endblock content %}
