body {
	color: black;   
	background-color: rgb(255,255,255); 
	font-size: 100.01%; 
	font-family: Helvetica,Arial,sans-serif; 
	margin: 0;
	text-align: center;  /* Zentrierung im Internet Explorer */
}   

body .p {
	font-size:1em;
	margin: 1em 0;
}

div#Page {
	text-align: left;    /* Seiteninhalt wieder links ausrichten */
	width: 800px; 
	padding: 0.5em;
	background-color: rgb(255, 255, 255);
}   

div#ContentLayer {
	margin-left: 0px; 
	padding: 0 1em;
	border: 1px dashed silver;
}   

div#ContentLayer h1 {
	font-size: 1.5em;
	margin: 0 0 1em;
}   

div#ContentLayer h2 { 
	font-size: 1.2em; 
	margin: 0 0 1em; 
}   

div#ContentLayer p {
	font-size:1em;
	margin: 1em 0;
}