/* yafra.org root page style */
/* v1.1 -26/08/2008 23:15 */

/* body tag */
body {
  margin: 0;
  padding: 18px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: #464646;
  text-decoration: none;
  /* main background - dark graygreen */
  background-color: #62773A;
}
#main {
  margin: auto;
  width: 800px;
  /* content background - light yellow */
  background-color: #F7FFC9;
    background-repeat: no-repeat;
    background-position: center bottom;
}
#header {
  min-height: 50px;
}
#hnavbar {
  width: 700px;
  padding-top: 1px;
  float: left;
}
#hlang {
  width: 100px;
  float: right;
  text-align: center;
  /* margin-top: -1px; */
  margin: 0px;
  /* padding-left: 18em; */
  padding-top: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  white-space: nowrap;
  font-weight: bold;
  color: #464646;
  background: #F7FFC9;
}
#hlang a:hover {
  background: #F7F7FA;
  color: #0B0BB3;
  text-decoration: none;
}
#main-inner {
  border-top-style: solid;
  border-width: 1px;
  padding: 0 17px 27px 27px;
  min-height: 400px;
}
#main-inner-left {
  display: block;
  float: left;
  width: 550px;
}
#main-inner-right {
  border-left-style: solid;
  border-width: 1px;
  width: 200px;
  display: block;
  float: right;
  text-align: left;
  padding-top: 1px;
  padding-left: 3px;
  margin-top: -1px;
}
#main-inner-right p {
  /* font-weight: bold; */
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  padding-right: 7px;
  float: left;
}

/* heading tags */
h1, h2, h3, h4, h5, h6, .csc-header {
  margin: 15px 0;
  text-decoration: none;
  font-size: 18px;
}
p, ul, ol {
  margin: 15px 0;
}
.clear {
  clear: both;
}
#footer {
  margin: auto;
  width: 800px;
  background-position: center bottom;
  padding: 12px;
  clear: both;
  font-size: 10px;
  background: #62773A;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}
#footer a:link, #footer a:visited {
  background: #62773A;
  color: #ffffff;
  text-decoration: none;
}
#footer a:hover {
  background: #62773A;
  color: #0B0BB3;
  text-decoration: none;
}
#footer img {
  padding-left: 5px;
  border: 0px;
  color: #ffffff;
  background: #8c8c8c;
}
.highlight {
  color: #164365;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
}
.highlight a, .highlight a:visited {
  color: #ff0000;
  text-decoration: none;
  text-indent: 20px;
}
.highlight a:hover {
  color: #0B0BB3;
  text-decoration: none;
  text-indent: 20px;
}
a, a:visited {
  color: #ff0055;
  text-decoration: none;
}
a:hover {
  color: #0B0BB3;
  text-decoration: none;
}
table.contenttable {
  border:  none;
  margin: 10px 0px;
  width: 95%;
}
table.contenttable tr td {
  border:  none;
  margin: 0px;
  padding: 2px 5px;
  background-color: #ffffff;
}
table.contenttable tr td p.bodytext {
  font-size: 10px;
}
table.contenttable tr {
  /* background-color: #ffffff; */
  color: #000000;
  text-align: center;
}
table .bodytext {
  margin: 0px;
}
div#main-inner ul {
  margin: 10px 0 0 0px;
}
div#main-inner ul ul li {
  font-size: 11px;
}
div#main-inner ol {
  margin-top: 0px;
}
div#main-inner li {
  margin: 0 0 0 6px;
  list-style-image: url(fileadmin/yafra-root/images/list.gif);
}
div#main-inner ul.csc-bulletlist li {
  list-style-image: url(fileadmin/yafra-root/images/list.gif);
}
div#main-inner ul li, div#main-inner ul li.a {
  padding: 0 0 0 6px;
  list-style-image: url(fileadmin/yafra-root/images/list.gif);
}
code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  color: #0B0BB3;
  background: #F7F7FA;
  border: 1px solid #0B0BB3;  
}


/*------mailformular formatieren------*/

#mailform .csc-mailform {
border: 0px;
}

.csc-mailform-field {;
margin: 2px 0 0 2px;;
padding: 5px;
}

.csc-mailform-field label {
float: left;
padding: 1px;
color: #000;
width: 125px;
}


.mf-input {
color: #244a6f;
clear: none;
width: 220px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-pass {
color: #244a6f;
width: 220px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-text {
color: #244a6f;
clear: none;
width: 220px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-check {
color: #244a6f;
padding: 1px;
border: 1px solid #dcdcdc;
}

.csc-mailform-radio fieldset {
color: #244a6f;
border: 0px;
}

.csc-mailform-radio legend {
display: none;
border: 0px;
}

.mf-radio {
margin-left: 0px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-select {
color: #244a6f;
width: 220px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-file {
color: #244a6f;
width: 220px;
padding: 1px;
border: 1px solid #dcdcdc;
}

.mf-reset {
color: #244a6f;
border: 1px solid #dcdcdc;
}

.mf-submit {
color: #244a6f;
margin-left: 82px;
}
