<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

</head>
<body>
{% block content %}
{% endblock %}

<p>Hello flask demo yafra</p>

<!--
{% for p in persons %}
<ul>
    <li>{{ p.name }}</li>
</ul>
{% endfor %}
-->

<div id="footer">
    <div class="container">
        <p>Your Company &copy; All Rights Reserved.</p>
        {% block footer %}{% endblock %}
    </div>
</div>


</body>
</html>