<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/jaxws
http://cxf.apache.org/schemas/jaxws.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />

  <!-- JAX-RS -->
  <jaxrs:server id="yafrapersonRestful" address="/yafrarest">
    <jaxrs:serviceBeans>
      <ref bean="personHandlerREST" />
    </jaxrs:serviceBeans>
  </jaxrs:server>

  <!-- JAX-WS -->
<jaxws:endpoint 
	  id="personHandler" 
	  implementor="org.yafra.server.jee.ws.PersonHandler" 
	  address="/PersonSEI" />
	 
  <bean id="personHandlerREST" class="org.yafra.server.rest.PersonHandler" />	  
</beans>